body {
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:20px;
  color:#333;
  background-color:#fff;
}
.container {
  margin-top: 50px;
  width: 80%;
  min-width: 250px;
  margin-right:auto;
  margin-left:auto;
}
h1 {
  margin:10px 0;
  font-weight:bold;
  line-height:40px;
  font-size:38.5px;
  text-rendering:optimizeLegibility;
}
p {
  margin:0 0 10px;
}
.lead {
  margin-bottom:20px;
  font-size:21px;
  font-weight:200;
  line-height:30px;
}
em {
  font-style:italic;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover,a:focus {
  color:#005580;
  text-decoration:underline;
}
.hide {
  display: none;
}
@media (max-width: 330px) {
   .tiny-width-hide {
      display: none;
   }
}
@media (max-height: 330px) {
   .tiny-height-hide {
      display: none;
   }
}
.error {
  border-left: 4px solid #b94a48;
  padding: 4px 4px 4px 12px;
}
.error-text {
  color: #b94a48;
}
