body {
  margin-bottom: 100px;
}

.error-box {
}

.nav-content {
  margin-top: 1em;
}

h3 {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.nav-link.active {
  border-bottom: 2px solid var(--bs-navbar-active-color);
}

#active-location-info {
  padding-bottom: 0.5em;
  margin-bottom: 0px;
  font-weight: bold;
  background-color: var(--bs-body-bg);
}

.menu-item:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.spaced-left {
  margin-left: 10px;
}

.hide {
  display: none;
}

#location-list {
  margin-bottom: 0px;
}

.location-list-item {
  padding: 2px 12px 2px 12px;
}

.location-link {
  text-decoration: none;
}

.location-link,
.allowed-user-list-item .user-mail,
.url {
  font-weight: bold;
}

.location-list-item:hover,
.allowed-user-list-item:hover,
.alias-list-item:hover,
.user-list-item:hover {
/*  background-color: var(--bs-tertiary-bg); */
  background: #eeeeee;
}

.location-list-item:hover {
  cursor: pointer;
}

.location-list-item.active {
  background-color: var(--bs-tertiary-bg);
  border-top: 2px solid var(--bs-border-color);
  border-left: 2px solid var(--bs-border-color);
  border-bottom: 2px solid var(--bs-border-color);
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
  padding: 0px 14px 0px 10px;
}

@media (max-width: 767px) {
  .location-list-item.active {
    border-right: 2px solid var(--bs-border-color);
    padding-right: 10px;
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
  }
}

@media (min-width: 768px) {
  .location-list-item:not(.active), #add-location {
    border-right: 2px solid var(--bs-border-color);
  }
}

#acl-row {
  background-color: var(--bs-tertiary-bg);
}

#location-container {
  background-color: var(--bs-body-bg);
}

#location-info-container {
  background-color: var(--bs-tertiary-bg);
  border-top: 2px solid var(--bs-border-color);
}

@media (max-width: 767px) {
  #location-info-container {
    border: 2px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
}

.allowed-user-list {
  max-height: 30em;
  overflow-y: auto;
}

.allowed-user-list-item {
  padding: 2px 12px 2px 12px;
}

#add-location, #add-user {
  padding: 15px 15px 30px 6px;
}

.user-list-item {
  padding: 0px 12px 0px 12px;
}

.help {
  margin-top: 1.5rem;
}

.footer {
  margin-top: 4rem;
}

.long-text-container {
  overflow-x: auto;
  white-space: nowrap;
}

.path {
  /* Show all white spaces in paths and keep paths in a single line */
  white-space: pre;
}

.help-message-container {
  background-color: var(--bs-body-bg);
  padding-bottom: 0.75em;
}

.help-message {
  /*color: var(--bs-success-text-emphasis);*/
  border-left: 4px solid var(--bs-success-border-subtle);
  padding: 0.5em;
  padding-left: 1em;
  /*background-color: var(--bs-body-bg);*/
  /*background-color: #e1f5ec;
  background-color: #edf5ed;*/
  background-color: #ebf4f0;
  /*border-radius: var(--bs-border-radius);*/
  /*margin-right: 0.5em; */
  /*font-family: Georgia, "Times New Roman", Times, serif; */
}

.help-action {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.help-action img {
  vertical-align: middle;
  height: 1.5em;
  margin-right: 0.5em;
}

.removing {
  text-decoration: line-through;
}

.granting {
  border-style: dashed;
  border-width: 1px;
}

#add-alias-scheme {
  max-width: 110px;
}

.tooltip-inner {
  max-width: 300px;
}

/* Enable for debugging
div, span, p{
    border: 1px solid red;
} */
