{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link href="{% static "auth/style.css" %}"
          rel="stylesheet" type="text/css">
    <link href="{% static "auth/login.css" %}"
          rel="stylesheet" type="text/css">
    <style>
    {% if branding %}
      .branding {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: #222222;
        padding: 8px;
        border-top-left-radius: 6px;
        background-image: linear-gradient(to bottom, #555555, #222222);
        background-repeat: repeat-x;
      }
      #branding-link {
        color: #eeeeee;
      }
      .logo {
        width: 92px;
        vertical-align:middle;
      }
    {% endif %}
    </style>
  </head>
  <body>
   <div class="container">
     <noscript>
       <div class="error">
         <h1>JavaScript required</h1>
         <p class="lead">
           To access this site, JavaScript needs to be enabled.
         </p>
       </div>
     </noscript>

     <div class="hide" id="login-required">
       <h1>{{header}}</h1>
       <p id="intro" class="lead">{{message}}</p>
       <p id="token-send-success" class="lead hide">
         Check your email
         at <em><span class="entered-email"></span></em>. If you have
         been granted access to this site, you will receive a login link.
       </p>

       <form id="login-form">
         <div class="input-group">
           <input id="email-input" type="text"
                placeholder="Enter your email">
           <button type="submit">
             Get a <span class="tiny-width-hide">login</span> link
           </button>
         </div>
       </form>
       <div id="token-send-error" class="error error-text hide">
         Failed to send a login link to
         <em><span class="entered-email"></span></em>:
         <span id="token-send-error-message"></span>
       </div>
     </div>

   </div>
   {% if branding %}
   <a href="https://github.com/wrr/wwwhisper" id="branding-link"
      class="tiny-height-hide">
     <div class="branding">
       <img src="{%static "auth/assets/img/logo.png" %}" alt="wwwhisper-logo"
            class="logo">
       Powered by wwwhisper
     </div>
   </a>

   {% endif %}
   <script src="{% static "auth/assets/js/net.js" %}"> </script>
   <script src="{% static "auth/login_enter_email.js" %}"> </script>

  </body>
</html>
