{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>wwwhisper: Web Access Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "auth/assets/css/bootstrap.min.css" %}"
          rel="stylesheet" type="text/css">
  </head>

  <body>
   <div class="container">

     <h1>Access denied</h1>
     <p class="lead">
       {{email}} can not access this URL.
     </p>
     Go somewhere else or <a href="#" id="logout">sign out</a>.

   </div>

    <script src="{% static "auth/assets/js/net.js" %}"
            type="text/javascript"> </script>
    <script src="{% static "auth/not_authorized.js" %}"
            type="text/javascript"> </script>
  </body>
</html>
