{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>wwwhisper: Web Access Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "auth/assets/css/bootstrap.min.css" %}"
          rel="stylesheet" type="text/css">
  </head>

  <body>
   <div class="container">

     <h1>Nothing accessible</h1>
     <p class="lead">No resources on this site are shared
       with you. Ask the site owner to grant you
       access, or try a different email.
     </p>
   </div>
  </body>
</html>
